.Model-menu {
    background-color: red;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}

.Model-menu ul li {
    display: inline;
    margin-right: 40px;
    cursor: pointer;
}

.model-form label, .model-form input, .model-form select {
    display: block;
    margin-top: 10px;
}

.model-form label {
    font-weight: bolder;
}

.model-form input, .model-form select {
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    font-size: 15px;
}

.model-form {
    color: white;
}

.layer-form {
    background-color: rgb(24, 127, 150);
    padding: 10px;
}

.model-form button {
    margin-top: 20px;
    padding: 5px 10px;
    background-color: rgb(16, 89, 106);
    border: 0px;
    border-radius: 5px;
    font-size: 1.1em;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    color: white;
}
.model-form button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(24, 127, 150);
}

.blue-btn {
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: rgb(24, 127, 150);
    border-radius: 5px;
    font-size: 1.1em;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    color: white;
    border: none;
}
.blue-btn:hover {
    background-color: white;
    color: rgb(16, 89, 106);
}


fieldset {
    border: none;
}

.form-bg {
    background-color: rgb(16, 89, 106);
}