.Workspace-nav {
    background: #f5e9e9;
    width: 100%;
    display: flex;
    justify-content: center;
}

.Workspace-nav ul li {
    display: inline;
    padding: 0px 20px;
    transition: 0.15s ease;
    cursor: pointer;
}

.Workspace-nav li:hover {
    color: white;
}