.Workspace-nav {
    background: rgb(134, 134, 134);
    width: 100%;
    display: flex;
    justify-content: center;
}

.Workspace-nav ul li {
    display: inline;
    padding: 0px 20px;
}

.Workspace-nav a {
    padding: 10px;
    transition: 0.1s;
}

.Workspace-nav a:hover {
    color: white;
}