h1 {
    margin: 5px;
    display: inline;
    color: rgb(87, 87, 87);
    font-weight: lighter;
    cursor: default;
    user-select: none;
}

header  {
    background: white;
}

nav {
    display: inline;
    position: absolute;
    right: 0px;
    top: 10px;
}

nav ul {
    display: inline;
    margin: 0px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    margin-top: 0px;
}

nav a {
    text-decoration: none;
    color: inherit;
    color: rgb(87, 87, 87);
    transition: 0.1s;
}

nav a:hover {
    color: rgb(32, 32, 32);
}

