.fidgy-spinny {
    width: 100px;
}

.results-wrapper {
    padding: 10px;
    overflow: scroll;
    height: calc(100vh - 51px - 38px);
}

.select-data-list {
    padding: 0;
}

.select-data-list li {
    list-style-type: none;
}