.Exploration-view {
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow-y: scroll;
    height: calc(100vh - 51px - 38px);
}

.Exploration-table-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

}

.Exploration-table {
    border-collapse: collapse;
}
    .Exploration-table thead {
        background-color: #868686;
    }

    .Exploration-table td {
        padding: 5px;
        border: 1px solid black;
    }

    .Exploration-table tr {
        background: white;
    }

    .Exploration-table tr:nth-child(even){background: #f2f2f2;}

.Exploration-plot-wrapper {
    padding: 10px;
}

.Exploration-plot-wrapper img {
    max-width: 100%;
}

.Exploration-data-head {
    grid-column: 1 / span 2;
    padding: 10px;
}