.Exploration-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    height: calc(100vh - 51px - 38px);
}

.Exploration-first-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px;

}

.Exploration-table-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.Exploration-table {
    border-collapse: collapse;
    width: 100%;
}
    .Exploration-table thead th {
        background-color: rgb(16, 89, 106);
        color: white;
    }

    .Exploration-table td, .Exploration-table th {
        padding: 5px;
        border: 2px solid rgb(24, 127, 150);
    }

    .Exploration-table tr {
        background: white;
    }

    .Exploration-table tr:nth-child(even){background: #e2f4ff;}

.Exploration-second-wrapper {
    padding: 10px;
}

.Exploration-second-wrapper img {
    max-width: 100%;
}

.Exploration-data-head {
    grid-column: 1 / 3;
    margin: 10px;
    /*display: flex;*/
}

.svg-container {
    width: 100%;
}