.add-button {
    margin-top: 20px;
    padding: 5px;
    background-color: rgb(133, 216, 255);
    border: 1px solid rgb(21, 122, 255);
    border-radius: 5px;
    font-size: 1.3em;
    display: inline;
    cursor: pointer;
}