.Workspace {
    width: 100%;
    height: calc(100vh - 38px);
    right: 0px;
    display: flex;
    justify-content: center;
    background: rgb(152, 152, 253);
}

.Workspace-content {
    width: 100%;
}

