.Workspace {
    width: 100%;
    height: calc(100vh - 38px);
    right: 0px;
    display: flex;
    justify-content: center;
    background: rgb(255, 255, 255);
}

.Workspace-content {
    width: 100%;
}

